@tailwind base;
@tailwind components;
@tailwind utilities;

html > body {
    font-family: 'SUIT';
    font-size: 1rem;
}

.h-screen {
    height: 100vh;
}

.edit_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.editor_wrap {
    width: 100% !important;
    border: none;
    overflow: hidden;
    overflow-y: scroll;
}

.col-table {
}

.col-table .col-table-th {
    text-align: center;
    align-items: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    font-weight: bold;
    z-index: 9;
}

.col-table .col-table-th > div {
    border-right: 1px solid #e0e0e0;
    padding: 7px 0px;
}

.col-table .col-table-td {
    text-align: center;
    /* align-items: center; */
    border-bottom: 1px solid #e0e0e0;
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.col-table .col-table-td > div {
    padding: 0.45rem 1rem;
    border-right: 1px solid #e0e0e0;
    /* padding: 7px 8px; */
    justify-content: center;
    display: flex;
    align-items: center;
}

/* .col-table .col-table-td > div:last-child {
    border-right: 0;
} */

/* bg-white border-y-2 border-y-slate-500  */

/* [ S ] offcanvas */
.offcanvas {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1045;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    visibility: hidden;
    background-color: #fff;
    background-clip: padding-box;
    outline: 0;
    transition: transform 0.3s ease-in-out;
    width: 50%;
    transform: translateX(100%);
    height: 100%;
}
.offcanvas.show {
    visibility: visible;
    transform: translateX(0);
}

.offcanvas-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    border-bottom: 1px solid #eee;
}

.offcanvas-header .btn-close {
    cursor: pointer;
    margin-right: 1rem;
}

.offcanvas-body {
    flex-grow: 1;
    padding: 1rem;
    overflow-y: auto;
}

.offcanvas-footer {
    display: grid;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-top: 1px solid #eee;
}

.offcanvas-footer .btn-del {
    width: 100%;
    height: 2.3rem;
    background-color: #fff;
    color: rgb(248 113 113);
}

.btn-del:hover {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
}

.btn-save {
    width: 100%;
    height: 2.3rem;
    color: #fff;
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-bg-opacity: 1;
    background-color: rgb(59 130 246 / var(--tw-bg-opacity));
    border-width: 1px;
    border-radius: 0.25rem;
}

.btn-filter {
    width: auto;
    color: #333;
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-bg-opacity: 1;
    background-color: #f5f5f5;
    border-width: 1px;
    border-radius: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 2.5rem;
}
.btn-filter:hover {
    --tw-bg-opacity: 1;
    background-color: #e5e5e5;
}

.offcanvas-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0.5;
}

.fade {
    transition: opacity 0.15s linear;
}
/* [ E ] offcanvas */

/* [ S ] form */
.form-control {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding: 0.575rem 0.75rem;
    line-height: 1.25;
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity));
    min-height: 2.52rem;
}

.form-select {
    width: 100%;
    border-radius: 0.25rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
    padding: 0.575rem 1.9rem 0.575rem 0.75rem;
    line-height: 1.25;
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity));
    --form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-image: var(--form-select-bg-img);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.border-danger,
.border-danger:focus {
    --tw-border-opacity: 1;
    border-color: rgb(248 113 113 / var(--tw-border-opacity));
}

.form-control:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-border-opacity: 1;
    border-color: rgb(31 41 55 / var(--tw-border-opacity));
}

.form-control:read-only {
    --tw-bg-opacity: 1;
    background-color: rgb(229 229 229 / var(--tw-bg-opacity));
}

.form-label {
    display: flex;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity));
    justify-content: space-between;
}

.form-error {
    --tw-text-opacity: 1;
    color: rgb(239 68 68 / var(--tw-text-opacity));
    font-style: italic;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.form-radio {
    display: block;
    cursor: pointer;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid #e5e5e5;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.28;
    letter-spacing: -0.36px;
    padding: 10px 5px;
}

/* [ E ] form */

.overlay_backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    cursor: default;
    background: transparent;
}

code.code {
    background: #dedede;
    font-weight: 700;
    font-size: 0.8rem;
    padding: 2px 6px;
    border-radius: 6px;
}

/* [ S ] checkbox_filter */
.checkbox_filter {
    border-top-width: 1px;
    margin-top: 1.25rem;
    padding-top: 1.25rem;
}

.checkbox_filter .title {
    margin-bottom: 0.45rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 1rem;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity));
}

.checkbox_filter .checkboxs_wrap {
    height: 6rem;
    overflow-y: auto;
}

.checkbox_filter .checkboxs_wrap label {
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    border-radius: 0.25rem;
    cursor: pointer;
    width: 100%;
}

.checkbox_filter .checkboxs_wrap label:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}

.checkbox_filter .checkboxs_wrap input {
    margin-inline-end: 0.75rem;
}

.checkbox_filter .checkboxs_wrap span {
    line-height: 1;
    font-size: 0.875rem;
}
/* [ E ] checkbox_filter */

pre {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1rem;
    padding: 0.75rem;
    --tw-bg-opacity: 1;
    background-color: rgb(203 213 225 / var(--tw-bg-opacity));
    border-width: 1px;
}

.editor_wrap {
    position: fixed;
    top: 0;
    z-index: 11111;
    width: 100%;
    left: 0;
    background: #fff;
    height: 100vh;
    overflow: hidden;
}

.sortable-chosen {
    background-color: aqua;
}

.must {
    display: inline-block;
    position: relative;
    padding-right: 5px;
}

.must:before {
    width: 4px;
    height: 4px;
    background-color: #fb9a24;
    content: '';
    left: 40px;
    position: absolute;
    top: 20px;
}

/* [ S ] daum-popup */
.daum-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1045;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 500px;
    background-clip: padding-box;
    outline: 0;
    transition: transform 0.3s ease-in-out;
    transform: translate(-50%, -50%);
    /* width: 50%; */
    overflow: hidden;
}

/* [ S ] edit popup */
.edit_popup .card_area {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    /* padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem; */
    padding: 1.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    border-width: 1px;
    border-radius: 0.25rem;
    margin-top: 1.25rem;
}
/* [ S ] edit popup */

/* [ S ] form table */

.form-table {
    /* border-top: 1px solid #333; */
}

.form-table p {
    margin: 0px !important;
}

.form-table table {
    background-color: #fff;
}

.form-table th {
    background-color: #f4f4f4;
    min-height: 48px;
    height: 48px;
    color: #222;
    padding-left: 20px;
    width: 20%;
}

.form-table td {
    width: 37%;
    padding: 0.5rem 0.75rem;
}

.form-table td[colspan='3'],
.form-table td[colspan='5'] {
    width: 87%;
}

.form-table .table_cols-6 th {
    width: 10% !important;
}

.form-table .table_cols-6 td {
    width: 23% !important;
}

.form-table .table_cols-auto th {
    padding: 0.5rem 0.5rem;
    text-align: center;
}

.form-table .table_cols-auto th,
.form-table .table_cols-auto td {
    width: auto;
    height: auto;
}

.common-table table {
    border: 1px solid #cbd5e1;
}

.common-table table > tbody > tr {
    border-bottom: 1px solid #cbd5e1;
}

.common-table table > tbody > tr > th {
    background-color: #cbd5e1;
    padding: 10px 0;
    border-right: 1px solid #fff;
}

.common-table table > tbody > tr > td {
    text-align: center;
    padding: 10px 0;
}

.common-table table > tbody > tr > td:not(:last-child) {
    border-right: 1px solid #cbd5e1;
}

.sub_dir {
}

.sub_dir::before {
    content: '┕ ';
}

.btn-search {
    width: auto;
    color: #fff;
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-bg-opacity: 1;
    background-color: #6b6eca;
    border-width: 1px;
    border-radius: 0.45rem;
    padding: 0.575rem 0.75rem;
}

.btn-save:hover,
.btn-search:hover {
    background-color: #5f62b3;
    --tw-shadow: 0;
    --tw-shadow-colored: 0;
    box-shadow: none;
}

.btn-newadd {
    width: auto;
    height: 3rem;
    line-height: 3rem;
    font-weight: normal;
    font-size: 0.89rem;
    color: #fff;
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-bg-opacity: 1;
    background-color: #6b6eca;
    border-width: 1px;
    border-radius: 0.45rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.btn-newadd:hover {
    background-color: #5f62b3;
    --tw-shadow: 0;
    --tw-shadow-colored: 0;
    box-shadow: none;
}

.col-table-header {
    align-items: center;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    height: 4rem;
    display: grid;
    margin: 1rem 0;
}

.col-table-header .text-left {
    font-size: 1.2rem;
    padding-left: 0;
    color: #333;
}

.btn-sm {
    height: 2rem;
    line-height: 2rem;
    font-size: 0.8rem;
}

.dashboard .card-box {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    padding: 1.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    border-width: 1px;
    border-radius: 0.25rem;
    margin-top: 1.25rem;
}

.dashboard .card-box .card-header {
    padding-bottom: 1rem;
    border-bottom-width: 1px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-bottom: 1.5rem;
}

.dashboard .card-box .card-header .title {
    --tw-text-opacity: 1;
    color: rgb(15 23 42 / var(--tw-text-opacity));
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.dashboard .card-box .card-header .view-all {
    --tw-text-opacity: 1;
    color: rgb(8 145 178 / var(--tw-text-opacity));
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.dashboard .card-box .card-header .view-all:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}

/* [ S ] dashboard-table */
.dashboard-table {
    min-width: 100%;
}

.dashboard-table thead {
    background-color: rgb(248 250 252 / var(--tw-bg-opacity));
}

.dashboard-table tbody {
    background-color: #fff;
}

.dashboard-table th {
    --tw-text-opacity: 1;
    color: rgb(100 116 139 / var(--tw-text-opacity));
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.95rem;
    line-height: 1rem;
    text-align: left;
    padding: 1rem;
}

.dashboard-table tbody tr:nth-child(2n) {
    --tw-bg-opacity: 1;
    background-color: rgb(248 250 252 / var(--tw-bg-opacity));
}

.dashboard-table tbody td {
    --tw-text-opacity: 1;
    color: rgb(15 23 42 / var(--tw-text-opacity));
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 1rem;
    white-space: nowrap;
}

.dashboard-table tbody td.date {
    --tw-text-opacity: 1;
    color: rgb(100 116 139 / var(--tw-text-opacity));
}
/* [ E ] dashboard-table */

.card-tabs {
    display: flex;
    margin-bottom: 1rem;
}

.card-tabs-items {
    --tw-text-opacity: 1;
    color: rgb(71 85 105 / var(--tw-text-opacity));
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: block;
    font-size: 1rem;
}

.card-tabs-items:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.card-tabs-items:hover {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
}

.card-tabs-items.active {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
    font-weight: 500;
    --tw-border-opacity: 1;
    border-color: rgb(59 130 246 / var(--tw-border-opacity));
    border-bottom-width: 2px;
}

/* [ S ] grid_table */
.grid-table {
    font-size: 1.225rem;
    line-height: 1.75rem;
    border-top-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
}

.mobile .grid-table {
    font-size: 0.875rem;
    line-height: 1rem;
    width: 100%;
    min-width: 700px;
}

.grid-table-th {
    text-align: center;
    border-right-width: 1px;
    --tw-bg-opacity: 1;
    background-color: rgb(0 90 152 / var(--tw-bg-opacity));
    color: #fff;
    font-weight: bold;
    padding: 0.5rem 0;
}

.grid-table-td {
    text-align: center;
    border-right-width: 1px;
    padding: 0.3rem 0;
}

.grid-table-td .week {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.4rem;
    height: 2.4rem;
    margin: 0 auto;
    font-size: 1.1rem;
}

.grid-table-td .week.on {
    background-color: #005a98;
    border-radius: 100%;
    font-weight: bold;
    color: #fff;
}

.grid-table .img-box {
    height: 110px;
    width: 190px;
    overflow: hidden;
}

.mobile .grid-table .img-box {
    width: 100%;
}
/* [ E ] grid_table */
